*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
li a {
    color: #fff;
    padding: 15px 15px;
    display: block;
    margin-left: 20px;
    text-decoration: none;
  }
  
li a:hover{
   cursor: pointer;
   background-color: #fff;
   color: #1d1b1b;
}
.navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1b1b;
    color: #fff;
    padding: 10px;
}
.logo{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius:50%;
}